[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AMISforInfectiousDiseases"]
	path = AMISforInfectiousDiseases
	url = https://github.com/drsimonspencer/amisforinfectiousdiseases-dev
